{%- comment -%}
  Accepts:

  - section {Section}
  - button_class {String}
  - button_prepend_text {String}
  - append_id {String}
{%- endcomment -%}

{% liquid
  capture button_text
    case settings.country_drawer_display_option
      when 'country-name--iso-code--currency-symbol'
        echo localization.country.name | append: ' | ' | append: localization.country.currency.iso_code | append: ' | ' | append: localization.country.currency.symbol
      when 'country-name--iso-code'
        echo localization.country.name | append: ' | ' | append: localization.country.currency.iso_code
      when 'country-name'
        echo localization.country.name
      when 'iso-code--currency-symbol'
        echo localization.country.currency.iso_code | append: ' | ' | append: localization.country.currency.symbol
      when 'flag'
        echo ''
      when 'flag--country-name'
        echo localization.country.name
      else
        echo localization.country.currency.iso_code
    endcase
  endcapture
%}

{%- if button_prepend_text -%}
  {%- assign button_text = button_text | prepend: ' ' | prepend: button_prepend_text -%}
{%- endif -%}

<details id="Country-drawer-{{- append_id -}}" class="country-drawer drawer__container">
  <summary
    class="drawer__button drawer__button--text text--link {{ button_class }}"
    id="Country-drawer-button-{{- append_id -}}"
    aria-label="{{- 'theme.localization.country' | t -}}"
  >
    {%- if settings.country_drawer_display_option == 'flag' or settings.country_drawer_display_option == 'flag--country-name' -%}
      <span class="drawer__button-flag">{{ localization.country | image_url: width: 18 | image_tag }}</span>
    {%- endif -%}
    <span class="drawer__button-text">{{- button_text -}}</span>
    <noscript>
      {%- render 'icon', icon_name: 'theme-arrow' -%}
    </noscript>
  </summary>

  <div class="drawer__content js-drawer color-{{ settings.color_scheme_for_drawers }} gradient" id="Country-menu-drawer-{{- append_id -}}" tabindex="-1">
    <button
      class="drawer__button-close text-current button-reset no-js-hidden js-btn-close-drawer"
      aria-label="{{- 'theme.actions.close' | t -}}"
      aria-controls="Country-menu-drawer-{{- append_id -}}"
      aria-expanded="false"
    >
      {%- render 'icon', icon_name: 'theme-close' -%}
    </button>

    <div class="drawer__row drawer__row--gutter-sm">
      {%- if settings.show_country_drawer_title -%}
        <h2 class="drawer__title">
          {{- 'theme.localization.change_country' | t -}}
        </h2>
      {%- endif -%}
      {%- if settings.show_country_drawer_content -%}
        <p>{{- 'theme.localization.content' | t -}}</p>
      {%- endif -%}
    </div>

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      <div class="drawer__row">
        <localization-form>
          {% form 'localization', id: append_id %}
            {%- if localization.available_countries.size > 1 -%}
              <div class="form-row">
                <div class="select-input">
                  <label for="country-drawer-selector-{{- append_id -}}" class="select-input__label visually-hidden">
                    {{- 'theme.localization.change_currency' | t -}}
                  </label>

                  <div class="select-input__wrapper">
                    <select
                      name="country_code"
                      id="country-drawer-selector-{{- append_id -}}"
                      class="select-input__el"
                      aria-describedby="a11y-refresh-page-message"
                    >
                      {%- for country in localization.available_countries -%}
                        {%- capture option_text -%}
                          ({{- country.currency.iso_code -}}|{{- country.currency.symbol -}})
                        {%- endcapture -%}

                        {%- assign option_text = option_text | prepend: ' ' | prepend: country.name -%}

                        <option value="{{- country.iso_code -}}"{% if localization.country.iso_code == country.iso_code %} selected{% endif %}>
                          {{- option_text -}}
                        </option>
                      {%- endfor -%}
                    </select>
                    {%- render 'icon', icon_name: 'theme-chevron-down', class: 'icon' -%}
                  </div>
                </div>
              </div>
            {%- endif -%}

            {%- if localization.available_languages.size > 1 -%}
              <div class="form-row">
                <div class="select-input">
                  <label for="country-drawer-language-{{- append_id -}}" class="select-input__label visually-hidden">
                    {{- 'theme.localization.change_language' | t -}}
                  </label>

                  <div class="select-input__wrapper">
                    <select
                      name="language_code"
                      id="country-drawer-language-{{- append_id -}}"
                      class="select-input__el"
                      aria-describedby="a11y-refresh-page-message"
                    >
                      {%- for language in localization.available_languages -%}
                        <option value="{{- language.iso_code -}}"{% if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                          {{- language.endonym_name | capitalize -}}
                        </option>
                      {%- endfor -%}
                    </select>

                    {% render 'icon', icon_name: 'theme-chevron-down', class: 'icon' %}
                  </div>
                </div>
              </div>
            {%- endif -%}

            <div class="form-row no-js">
              <button type="submit" class="button button--outlined button--full no-js">
                {{- 'theme.localization.submit' | t -}}
              </button>
            </div>
          {% endform %}
        </localization-form>
      </div>
    {%- endif -%}
  </div>
</details>
