{% comment %}
  Renders textarea input form element
  Accepts:
  - id {String} ID of the input element
  - label {String} Label of the input element
  - name {String} Name of the input element
  - placeholder {String} Placeholder of the input element
  - body {String} Body of the input element

  Usage:
  {%- render 'textarea-input',
    id: 'textarea-input',
    label: 'Textarea Input',
    name: 'textarea-input',
    placeholder: 'Enter text here',
    body: 'Enter text here'
  -%}
{% endcomment %}

<div class="field field--textarea">
  {%- if label and id -%}
    <label class="field__label" for="{{- id -}}">{{- label -}}</label>
  {%- endif -%}

  <textarea
    rows="5"
    {% if id %}id="{{- id -}}"{% endif %}
    {% if name %}name="{{- name -}}"{% endif %}
    {% if placeholder %}placeholder="{{- placeholder -}}"{% endif %}
    class="field__input"
  >
    {%- if body -%}
      {{- body -}}
    {%- endif -%}
  </textarea>
</div>
