
{% assign beae_root_url = routes.root_url %}
{% if beae_root_url != '/'%}
    {% assign beae_root_url = routes.root_url | append: '/' %}
{% endif %}
{%capture section_id %}beae-quickview-default{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
<!--BEAE-EMBED-->
<link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
<!--/BEAE-EMBED-->
{% endif %}
{{ content_for_header }}
{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" id="beae-exported-page-css" media="all" href="{{"beae-quickview-default.css" | asset_url}}"><div class="beae-builder-v2 beae-builder"><div class="beae-sections beae-content-wrapper">

<script id="beae-popup_settings" type="application/json">
{"popupLayout":"center","popupWidth":1070,"popupCss":""}
</script><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>
<!----><section id="" data-sectionid="beae-wzeubsdv" data-heading-alignment="center" data-heading-alignment-mobile="center" data-width="1070" data-margin="30px" data-margin-mobile="15px" data-type="featuredProduct" class="beae-typo-p1 beae-wzeubsdv section-beae-wzeubsdv beae-section beae-core beae-section-focus" data-template="Quickview 3"><div class="beae-flexbox beae-typo-p1"><div class="beae__section--container beae-flexbox-container beae__section--full" style="">

{% capture beae_variant_size_guide_icon %}{% endcapture %}
{% capture beae_variant_size_guide_icon %}{% endcapture %}
{% capture beae_lp_unavailable_icon %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><path d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm0 394c0 3.3-2.7 6-6 6H54c-3.3 0-6-2.7-6-6V86c0-3.3 2.7-6 6-6h404c3.3 0 6 2.7 6 6v340zM356.5 194.6L295.1 256l61.4 61.4c4.6 4.6 4.6 12.1 0 16.8l-22.3 22.3c-4.6 4.6-12.1 4.6-16.8 0L256 295.1l-61.4 61.4c-4.6 4.6-12.1 4.6-16.8 0l-22.3-22.3c-4.6-4.6-4.6-12.1 0-16.8l61.4-61.4-61.4-61.4c-4.6-4.6-4.6-12.1 0-16.8l22.3-22.3c4.6-4.6 12.1-4.6 16.8 0l61.4 61.4 61.4-61.4c4.6-4.6 12.1-4.6 16.8 0l22.3 22.3c4.7 4.6 4.7 12.1 0 16.8z"></path></svg>{% endcapture %}
{% capture beae_lp_icon %}<svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>{% endcapture %}
{% liquid
if request.page_type != 'product' or product == blank
assign beae_product = 'copy-of-jackson-backpack-botanical-1'
if beae_product == blank or beae_product == '' or all_products[beae_product] == blank
  assign product = collections['all'].products.first
else
  assign product = all_products[beae_product]
endif
endif
assign tmp_product = product
assign beae_lp_view_store_information = 'undefined'
assign beae_lp_check_availability_at_other_stores = 'undefined'
assign beae_lp_pickup_available = 'undefined'
assign beae_lp_pickup_available_at = 'undefined'
assign beae_lp_pickup_unavailable_at = 'undefined'

assign beae_variant_type = 'radio'
assign beae_variant_show_option_name = 'true'
assign beae_variant_color_selector_type = 'color_swatch'
assign beae_variant_option_name = 'Color'
assign beae_variant_size_guide = false
assign beae_variant_size_guide_name = 'Size'
assign beae_variant_size_guide_label = 'Size guide'
assign beae_variant_size_guide_type = 'page'
assign beae_variant_size_guide_page = ''
assign beae_size_guide_type = 'page'
assign beae_size_guide_page = ''
assign beae_price_badged = 'sale'
assign beae_size_chart_type = 'custom'
assign beae_size_chart_show_when = 'all'
assign beae_size_chart_value = ''
assign beae_size_chart_page = ''
assign beae_tags_limit = '5'
assign beae_custom_badged_source = 'tags'
assign beae_custom_badged_tag = 'HOT'
assign beae_custom_badged_metafield = ''
assign beae_ct_content_type = 'custom'
assign beae_ct_page_handle = ''
%}
{% capture beae_size_guide_dynamic_source %}{% endcapture %}
{% capture beae_variant_dynamic_source %}{% endcapture %}
{% capture beae_ct_namespace_and_key %}{% endcapture %}

{%- if product != blank -%}
{%- form 'product', product,class: "beae-product-form-next beae-product-form--single beae-product-form-detail", data-product_id: product.id, data-handle: product.handle, data-variant-id: product.selected_or_first_available_variant.id, data-available: product.available -%}
{%- liquid
  assign selected_variant = product.selected_or_first_available_variant
-%}
<div class="beae-section-heading"><div class="beae-section-heading-content" style="position: relative;"><div class="beae-section-heading__wrapper"><!----><!----><!----></div></div></div><div class="beae-flexbox-core beae-x-featuted_product" data-product_id="{{ product.id }}"><div class="beae-flexbox-row beae-flexbox-beae-wzeubsdv_row1 beae-custom-rows-c"><!----><div class="beae-flexbox-column beae-flexbox-beae-wzeubsdv_row1_col1 beae-custom-image"><!----><!----><!----><div class="beae-kq8qnlma beae-block beae-core beae-animation" data-loopindex="0" data-uniqueid="it4dp7we"><!----><div class="beae-block beae-x-product-gallery" data-pagination-layout="bottom" data-pagination-layout-mobile="dots"><div class="beae-slider-wrapper beae-slider slider-beae-kq8qnlma items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0px; --items-gap-mobile: 14px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
{%- for media in product.media -%}
{% case media.media_type %}
{% when 'image' %}
<div class="beae-slide-item" data-index="{{ forloop.index0 }}" data-media-id="{{ media.id  }}" type="{{media.media_type}}">
  <img
    src="{{ media | img_url: 'master' }}"
    alt="{{ media.alt | escape | default: 'Product Image' }}"
    width="{{ media.preview_image.width | default: 915 }}"
    height="{{ media.preview_image.height | default: 915 }}"
    loading="lazy"
  />
</div>
{% when 'external_video'%}
<div class="beae-slide-item" data-index="{{ forloop.index0 }}" data-media-id="{{ media.id  }}" type="{{media.media_type}}">
  <img
    preview
    style="display: none !important;"
    src="{{ media.preview_image | img_url: 'master' }}"
    alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
    width="{{ media.preview_image.width | default: 915 }}"
    height="{{ media.preview_image.height | default: 915 }}"
    loading="lazy"
  />
{{ media | external_video_url:  controls: 1, loop: 1 | external_video_tag: image_size:'master'}}
</div>
{% when 'video' %}
<div class="beae-slide-item" data-index="{{ forloop.index0 }}" data-media-id="{{ media.id  }}" type="{{media.media_type}}">
  <img
    preview
    style="display: none !important;"
    src="{{ media.preview_image | img_url: 'master' }}"
    alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
    width="{{ media.preview_image.width | default: 915 }}"
    height="{{ media.preview_image.height | default: 915 }}"
    loading="lazy"
  />  
  {{ media | video_tag: image_size:'master', class: 'media-video', controls: true, loop: true }}
</div>
{% when 'model' %}
<div class="beae-slide-item" data-index="{{ forloop.index0 }}" data-media-id="{{ media.id  }}" type="{{media.media_type}}">
  <img
    preview
    style="display: none !important;"
    src="{{ media.preview_image | img_url: 'master' }}"
    alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
    width="{{ media.preview_image.width | default: 915 }}"
    height="{{ media.preview_image.height | default: 915 }}"
    loading="lazy"
  />
  {{ media | model_viewer_tag: image_size:'master', reveal: 'interaction', toggleable: true, data-model-id: media.id }}
</div>
{% else %}
<div class="beae-slide-item" data-index="{{ forloop.index0 }}" data-media-id="{{ media.id  }}" type="{{media.media_type}}">
  {{ media | media_tag: image_size:'master', class: 'beae-product-single__media--item' }}
</div>
{% endcase %}
{% endfor %}
</div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-kq8qnlmasection-slide-show'] = {
"id": "beae-kq8qnlma",
"mode": {"value": "live"},
"layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":false,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":0,"itemsGapMobile":14,"paginationImage":true,"showNavigation":true,"showPagination":true,"showProgress":false,"hookSliderInit":"window.addEventListener('load', () => {\n              setTimeout(() => {\n                \n      setTimeout(() => {\n        const layout = data.slider.getAttribute('data-desktop-layout');\n        const isGrid = layout === 'grid' && window.innerWidth >= 768;\n        const resetPlay = (el) => {\n            let video = el.querySelector('video'),\n                iframe = el.querySelector('iframe');\n            if (iframe) {\n              let src = iframe.getAttribute('src'),\n                  url = new URL(src),\n                  params = url.searchParams;\n              params.set('autoplay', 0);\n              url.search = new URLSearchParams(params).toString();\n              iframe.setAttribute('src', url.href);\n            } else if(video) {\n              video.autoplay = false;\n              video.pause();\n              video.currentTime = 0;\n            }\n        };\n        \n        \n        data.slides.forEach((slide) => {\n          \n          \n        \n        \n        });\n      }, 1000)\n    \n              }, 1000)\n            })","hookBeforeSlideChange":"","hookAfterSlideChange":"\n      setTimeout(() => {\n        const layout = data.slider.getAttribute('data-desktop-layout');\n        const isGrid = layout === 'grid' && window.innerWidth >= 768;\n        const resetPlay = (el) => {\n            let video = el.querySelector('video'),\n                iframe = el.querySelector('iframe');\n            if (iframe) {\n              let src = iframe.getAttribute('src'),\n                  url = new URL(src),\n                  params = url.searchParams;\n              params.set('autoplay', 0);\n              url.search = new URLSearchParams(params).toString();\n              iframe.setAttribute('src', url.href);\n            } else if(video) {\n              video.autoplay = false;\n              video.pause();\n              video.currentTime = 0;\n            }\n        };\n        \n        \n        data.slides.forEach((slide) => {\n          \n          \n        \n        \n        });\n      }, 1000)\n    ","noRunJs":false,"itemGap":0,"itemGapMobile":0
};</script></div><script type="text/javascript">window.BEAEARGS['beae-kq8qnlmablock-gallery'] = {
"id": "beae-kq8qnlma",
"mode": {"value": "live"},

};</script><!----><!----></div><!----><!----><div class="beae-flexbox-row beae-flexbox-beae-opsqes26_row1 beae-custom-badged"><!----><div class="beae-flexbox-column beae-flexbox-beae-opsqes26_row1_col1 beae-flexbox-empty"><!----></div></div></div><div class="beae-flexbox-column beae-flexbox-beae-wzeubsdv_row1_col2 beae-custom-info"><!----><!----><!----><div class="beae-6qoxjmdc beae-block beae-core beae-animation" data-loopindex="0" data-uniqueid="69jv0wgf"><div class="beae-block beae-x-text beae-scale-ratio" data-product-title="true"><span class="beae-typo-h4" style="">{{ product.title }}</span></div><!----><!----></div><!----><!----><!----><!----><div class="beae-yofsvh85 beae-block beae-core beae-animation" data-loopindex="0" data-uniqueid="34f2dd26"><!----><div class="beae-x-price" data-badged="none"><div class="beae-prd-single-price-wrapper beae-scale-ratio"><span class="beae-product-single__price beae-typo-p1">
{% if selected_variant != blank %}
{% if settings.currency_code_enabled %}
{{ selected_variant.price | money_with_currency }}
{% else %}
{{ selected_variant.price | money }}
{% endif %}
{% else %}
{% if product.price_varies and product.compare_at_price %}
{% assign cheapest_variant = product.variants | sort: 'price' | first %}
{% capture price_min %}
{% if settings.currency_code_enabled %}
{{ cheapest_variant.price | money_with_currency }}
{% else %}
{{ cheapest_variant.price | money }}
{% endif %}
{% endcapture %}
{% if cheapest_variant.price < cheapest_variant.compare_at_price %}
<span class="beae-price-on-sale">
<span class="beae-price-from">From {{ price_min }}</span>
<span class="beae-price-normal">{{ price_min }}</span>
</span>
{% else %}
<span class="beae-price-from">From {{ price_min }}</span>
<span class="beae-price-normal">{{ price_min }}</span>
{% endif %}
{% elsif product.price < product.compare_at_price %}
<span class="beae-price-on-sale">{% if settings.currency_code_enabled %}
{{ product.price | money_with_currency }}
{% else %}
{{ product.price | money }}
{% endif %}</span>
{% elsif product.price_varies %}
{% capture price_min %}
{% if settings.currency_code_enabled %}
{{ product.price_min | money_with_currency }}
{% else %}
{{ product.price_min | money }}
{% endif %}
{% endcapture %}
{% capture price_max %}
{% if settings.currency_code_enabled %}
{{ product.price_max | money_with_currency }}
{% else %}
{{ product.price_max | money }}
{% endif %}
{% endcapture %}
<span class="beae-price-from">From {{ price_min }}</span>
<span class="beae-price-normal">{{ price_min }}</span>
{% else %}
{% if settings.currency_code_enabled %}
{{ product.price | money_with_currency }}
{% else %}
{{ product.price | money }}
{% endif %}
{% endif %}
{% endif %}    
</span><span class="beae-product-single__price--regular beae-typo-p2">{% liquid
assign print_compare = ''
if selected_variant != blank   
if selected_variant.price < selected_variant.compare_at_price
if settings.currency_code_enabled
assign print_compare = selected_variant.compare_at_price | money_with_currency
else
assign print_compare = selected_variant.compare_at_price | money
endif
endif
else                                                            
if product.price_varies and product.compare_at_price
assign cheapest_variant = product.variants | sort: 'price' | first
if cheapest_variant.price < cheapest_variant.compare_at_price
if settings.currency_code_enabled
assign print_compare = cheapest_variant.compare_at_price | money_with_currency
else
assign print_compare = cheapest_variant.compare_at_price | money
endif
endif
elsif product.price < product.compare_at_price
if settings.currency_code_enabled
assign print_compare = product.compare_at_price | money_with_currency
else
assign print_compare = product.compare_at_price | money
endif
endif
endif
%}{{ print_compare }}</span><span type="none" class="beae-typo-p3 {% liquid
assign badge_class = ''
if product.available
assign checkHidden = true
if selected_variant != blank
if selected_variant.price < selected_variant.compare_at_price
assign checkHidden = false
endif
else
if product.price_varies and product.compare_at_price
assign cheapest_variant = product.variants | sort: 'price' | first
if cheapest_variant.price < cheapest_variant.compare_at_price
assign checkHidden = false
endif
elsif product.price < product.compare_at_price
assign checkHidden = false
endif
endif
if checkHidden
assign badge_class = 'beae-sale-hidden'
else
assign badge_class = 'beae-product-single__price--sale'
endif
else
assign badge_class = 'beae-sale-sold-out'
endif
%}{{ badge_class }} beae-product-single__price--badged" data-sale="" data-sold-out="Sold Out"></span></div><div class="beae-product-single__tax-shipping beae-typo-p2">
{%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
<div class="beae-tax-shipping-policy">
{%- if shop.taxes_included -%}
{% capture include_taxes_text %}{{ 'products.product.include_taxes' | t }}{% endcapture %}
{% unless include_taxes_text contains 'Translation missing' %}
{{ include_taxes_text }}
{% else %}
Tax included.  
{% endunless %}
{%- endif -%}
{%- if shop.shipping_policy.body != blank -%}
{% capture shipping_policy_text %}{{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}{% endcapture %}
{% unless shipping_policy_text contains 'Translation missing' %}
{{ shipping_policy_text }}
{% else %}
<a href="{{shop.shipping_policy.url}}">Shipping</a> calculated at checkout.
{% endunless %}
{%- endif -%}
</div>
{%- endif -%}
</div></div><!----><!----></div><!----><!----><!----><!----><div id="tab-1" class="beae-alxvlw9n beae-block beae-core tab-content active beae-animation" data-loopindex="0" data-uniqueid="7szjr7nf"><!----><div class="beae-block beae-x-product-des beae-scale-ratio beae-less-more" data-type="less_more" data-height="140px"><div class="beae-product-des-wrp"><!----><div class="beae-typo-p2 beae-des-content">{{ product.description }}</div></div></div><button class="btn-action-les-more beae-btn-te" data-type="less" type="button" data-show-more-text="{{ 'sections.beae-quickview-default.be42255992_html' | t }}" data-show-less-text="{{ 'sections.beae-quickview-default.be42216636_html' | t }}">{{ 'sections.beae-quickview-default.be42255992_html' | t }}</button><script type="text/javascript">window.BEAEARGS['beae-alxvlw9nblock-description'] = {
"id": "beae-alxvlw9n",
"mode": {"value": "live"},
"type":"less_more","numberOfWords":100,"extendOptions":"{}","hasDescription":"{% if product.description != blank %}true{% else %}false{% endif %}"
};</script><!----><!----></div><!----><!----><!----><!----><div class="beae-yjiwr3gq beae-block beae-core beae-animation" data-loopindex="0" data-uniqueid="zxih1t25"><!----><div class="beae-block beae-x-variant"><div class="beae-variant-wrapper"><div class="beae-variant-container beae-typo-p2">
{% assign beae_has_variant_picker = true %}
{% assign variant_selected = product.selected_or_first_available_variant%}
{% assign store_colors = shop.metafields.beae.colors %}
{% if product.has_only_default_variant %}
{% assign beae_has_variant_picker = false %}
{% else %}
{%- for option in product.options_with_values -%}
{% assign option_index = option.position | minus: 1 %}

{% assign is_swatch = "false" %}

{% assign option_name = option.name %}

{% if beae_variant_color_selector_type and option_name contains beae_variant_option_name %}
{% assign is_swatch = "true" %}
{% endif %}

{%- assign index = option.position | prepend:  'option' -%}
{% assign value_key_selected = variant_selected[index] %}

<div class="beae-product-option-cont beae-product-option-{{ option_name }}" 
data-type="{{beae_variant_type}}"
data-option-position="{{ option.position }}"
{% if option_name contains beae_variant_option_name %}
data-swatch-type="{{beae_variant_color_selector_type}}"
{% endif %}
>
<div class="beae-variant-label-cont">
{% if beae_variant_show_option_name %}
  <span class="beae-product-{{ beae_variant_type }}-label">
    {{ option.name }}:
  </span>
  <span
    class="beae-variant-label"
    data-option-position="{{ option.position }}"
  >
    {{ variant_selected.options[option_index] }}
  </span>
{%- endif -%}
</div>

{% assign is_dropdown = "false" %}

{% if is_swatch == "true" %}
{% if beae_variant_color_selector_type == 'dropdown_with_color' %}
  {% assign is_dropdown = "true" %}
<div class="beae-custom-select_wrp">
  <button class="beae-custom-select__btn" type="button" data-option-position="{{ option.position }}">
    <span class="beae-selected-color" {% if store_colors and store_colors.value[variant_selected.options[option_index]] != blank  %} 
    style="--beae-color-variant: {{store_colors.value[variant_selected.options[option_index]]}}"
    {% endif %}></span>
    <span class="beae-text-selected">{{ variant_selected.options[option_index] }}</span>
    <svg width="20" height="20" viewBox="0 0 24 24" class="icon" role="presentation" focusable="false" aria-hidden="true">
      <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path>
    </svg>
  </button>
{% endif %}
{% else %}
{% if beae_variant_type == 'dropdown' %}
  {% assign is_dropdown = "true" %}
  <div class="beae-custom-select_wrp">
    <button class="beae-custom-select__btn" type="button" data-option-position="{{ option.position }}">
      <span class="beae-text-selected">{{ variant_selected.options[option_index] }}</span>
      <svg width="20" height="20" viewBox="0 0 24 24" class="icon" role="presentation" focusable="false" aria-hidden="true">
        <path d="M20 8.5 12.5 16 5 8.5" stroke="currentColor" stroke-width="1.5" fill="none"></path>
      </svg>
    </button>
{% endif %}
{% endif %}

<ul 
class="beae-variant-option-list"
data-option-position="{{option.position}}"
>
{% assign option_values = "" %}
{% for option in variant_selected.options %}
  {% if option != value_key_selected %}
    {% assign option_values = option_values | append: option | append: "," %}
  {% endif %}
{% endfor %}
{% assign option_values = option_values | split: "," %}
{% capture keyOption %}option{{option.position}}{% endcapture %}
{% assign optionActive = variant_selected[keyOption] %}
{% for op in option.values %}
  <li class="beae-product-variant-item{% if optionActive == op %} beae-product-variant-item--selected{% endif %}"
    data-option-position="{{option.position}}"
    data-value="{{ op | escape }}"
    {% if is_swatch == "true" and store_colors and store_colors.value[op] != blank  %} 
    style="--beae-color-variant: {{store_colors.value[op]}}"
    data-color="{{store_colors.value[op]}}"
    {% endif %}
   >
   {% if is_swatch == "false" %}
          {{ op }}
        {% elsif beae_variant_color_selector_type == "color_swatch" %}
          <span
            {% if store_colors and store_colors.value[op] != blank  %} 
              style="background-color: var(--beae-color-variant)"
            {% else %}
              class="beae-product-colors--no-color"
              data-beae-tooltip="Please set the color in settings" 
            {% endif %}
          ></span>
        {% elsif beae_variant_color_selector_type == "variant_image" %}
          <span class="beae-product-swatch-item-image">
            dùng js render image
          </span>
        {% else %}
          <div class="beae-product-swatch-special">
          <span
            {% if is_swatch == "true" and store_colors and store_colors.value[op] != blank  %} 
              style="background-color: var(--beae-color-variant)"
              class="beae-variant-swatch-color"
            {% else %}
              class="beae-product-colors--no-color"
              data-beae-tooltip="Please set the color in settings" 
            {% endif %}
          ></span>
          <span class="beae-variant-swatch-label">{{ op }}</span>
          </div>
        {% endif %}
        </li>
 {% endfor %}
</ul>
{% if is_swatch == "true" %}
  {% if beae_variant_color_selector_type == 'dropdown_with_color' %}
    </div>
  {% endif %}
{% else %}
  {% if beae_variant_type == 'dropdown' %}
    </div>
  {% endif %}
{% endif %}

{% if beae_variant_size_guide and option.name contains beae_variant_size_guide_name %}
<div class="beae-variant-size-guide">
  <div class="beae-variant-size-guide-btn">
    {% if beae_variant_size_guide_icon %}
      <span class="beae-size-guide-icon">
        {{ beae_variant_size_guide_icon }}
      </span>
    {% endif %}
    {{ beae_variant_size_guide_label }}
  </div>
  {% assign size_guide_content = "" %}
  {% if beae_variant_size_guide_type contains 'page' %}
    {% assign p = pages[beae_variant_size_guide_page] %}
    {% if p %}
      {% assign size_guide_content = p.content %}
    {% endif %}
  {% elsif beae_variant_size_guide_type contains 'dynamic' %}
    {% if beae_variant_dynamic_source.type contains 'file_reference' %}
      {% capture size_guide_content %}
        <img src={{ beae_variant_dynamic_source | image_url }} width="300" height="300" alt="Size chart"/>
      {% endcapture %}
    {% else %}
      {% assign size_guide_content = beae_variant_dynamic_source %}
    {% endif %}
  {% endif %}
  {% if size_guide_content != blank %}
    <div class="beae-variant-size-guide-content" style="display: none">
      {{ size_guide_content }}
    </div>
  {% endif %}
</div>
{% endif %}
</div>
{%- endfor -%}
<div
class="beae-variant--options"
style="display: none;"
>
<select 
name="id" 
class="beae-variant-options-combined" 
data-product-id="{{product.id}}"
data-selector
id="beae-variant-selector-{{section.id}}-beae-wzeubsdv"
>
{% for variant in product.variants%}
<option
  value="{{variant.id}}"
  {% if variant_selected.id == variant.id %}
    selected="selected"
  {% endif %}
>{{variant.title}}</option>
{% endfor %}
</select>
</div>
{% endif %}
</div></div></div><!----><!----><!----></div><!----><!----><div class="beae-flexbox-row beae-flexbox-beae-56tcskvo_row1 beae-custom-atc"><!----><div class="beae-flexbox-column beae-flexbox-beae-56tcskvo_row1_col1"><!----><!----><!----><div class="beae-s7nu8qao beae-block beae-core beae-animation" data-loopindex="0" data-uniqueid="7vc2hw9p"><!----><button type="submit" class="beae-add-to-cart--submit beae-btn-se" data-action="cart" data-add-to-cart-text="{{ 'sections.beae-quickview-default.be649020154_html' | t }}" data-text-outstock="{{ 'sections.beae-quickview-default.be28375103_html' | t }}" data-text-added-cart="{{ 'sections.beae-quickview-default.be1182278043_html' | t }}" data-sold-out-text="{{ 'sections.beae-quickview-default.be1538394658_html' | t }}" data-add-success="{{ 'sections.beae-quickview-default.be1427617666_html' | t }}" data-link="" data-choose-options-text="{{ 'sections.beae-quickview-default.be719299147_html' | t }}" data-type="text" data-show-icon-mobile="false"><!----><span class="beae-add-to-cart-text-content">{{ 'sections.beae-quickview-default.be649020154_html' | t }}</span><div class="beae-add-to-cart-loader-wrp"><span class="beae-add-to-cart-loader"></span></div></button><!----><!----></div><!----><!----></div><div class="beae-flexbox-column beae-flexbox-beae-56tcskvo_row1_col2"><!----><!----><!----><div class="beae-9sle8pyb beae-block beae-core beae-animation" data-loopindex="0" data-uniqueid="uqnomng4"><!----><div class="beae-block beae-x-checkout">
{% if product.available %}
{{ form | payment_button }}
{% endif %}
</div><script type="text/javascript">window.BEAEARGS['beae-9sle8pyb'] = {
"id": "beae-9sle8pyb",
"mode": {"value": "live"},
"buyItNowType":"beae-btn-pr"
};</script><!----><!----></div><!----><!----></div></div></div></div><div class="beae-money-format" style="display: none;">{% if settings.currency_code_enabled %}{{ shop.money_with_currency_format | escape }}{% else %}{{ shop.money_format | escape }}{% endif %}</div></div><script id="Product-json-beae-wzeubsdv" type="application/json">
{
"id":  {{ product.id }},
"title":  {{ product.title | json }},
"handle":  {{ product.handle | json }},
"price":  {{ product.price| json }},
"price_min":  {{ product.price_min| json }},
"price_max":  {{ product.price_max| json }},
"available":  {{ product.available | json }},
"price_varies":  {{ product.price_varies| json }},
"compare_at_price":  {{ product.compare_at_price| json }},
"compare_at_price_min":  {{ product.compare_at_price_min| json }},
"compare_at_price_max":  {{ product.compare_at_price_max| json }},
"compare_at_price_varies":  {{ product.compare_at_price_varies| json }},
"has_only_default_variant":  {{ product.has_only_default_variant | json }},
"selected_or_first_available_variant":  {{ product.selected_or_first_available_variant | json }},
"options":  {{ product.options_with_values | json }},
"variants": [
{%- for variant in product.variants -%}
{
"id":  {{ variant.id }},
"title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
"option1":  {{ variant.option1  | json }},
"option2": {%- if product.options.size == 1 -%}null{%-else-%} {{ variant.option2  | json }}{%-endif-%},
"option3": {%- if product.options.size == 1 or product.options.size == 2 -%}null{%-else-%} {{ variant.option3  | json }}{%-endif-%},
"sku":  {{ variant.sku | json }},
"requires_shipping":  {{ variant.requires_shipping }},
"taxable":  {{ variant.taxable | json }},
"selling_plan_allocations":{{variant.selling_plan_allocations | json }},
"featured_image": {%- if variant.image.id != blank -%}{
  "id":  {{ variant.image.id | json }},
  "product_id":  {{ product.id | json }},
  "width":  {{ variant.image.width | json }},
  "height":  {{ variant.image.height | json }},
  "src":  {{ variant.image.src | json }},
  "position": {{ variant.image.position }}
}{%- else-%}null{%-endif-%},
"featured_media": {{ variant.featured_media | json }},
"available":  {{ variant.available }},
"public_title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
"options":   {{ variant.options | json }},
"price":  {{ variant.price | json }},
"weight":  {{ variant.weight | json }},
"compare_at_price":  {{ variant.compare_at_price | json }},
"inventory_quantity":  {{ variant.inventory_quantity | json }},
"inventory_management":  {{ variant.inventory_management | json }},
"inventory_policy":  {{ variant.inventory_policy | json }},
"next_incoming_date": {% if variant.next_incoming_date %}{{variant.next_incoming_date | date: "%Y-%m-%d %H:%M" | time_tag | json }}{% else%}null{% endif %},
"barcode":  {{ variant.barcode | json }},
"store_availabilities": [
  {%- for variantStore in variant.store_availabilities -%}
    {
      "location": {
        "name": {{ variantStore.location.name | json }},
        "address": {{ variantStore.location.address | json }},
        "id": {{ variantStore.location.id | json }}
      },
      "available": {{ variantStore.available | json }},
      "pick_up_enabled": {{ variantStore.pick_up_enabled | json }},
      "pick_up_time": {{ variantStore.pick_up_time | json }}
    }{%- if forloop.last == false -%},{%- endif -%}
  {%- endfor -%}
]
}{%- if forloop.last == false -%},{%- endif -%}
{%- endfor -%}
],
"featured_image":  {{ product.featured_image | json }},
"size_available":[
{%- for value in product.options_with_values[0].values -%}
{%- assign available_ops = product.variants | where: "available" | where: "option1",value -%}
{{available_ops.size}}{%- unless forloop.last %},{% endunless -%}
{%- endfor -%}
],
"shopColors": {{ shop.metafields.beae.colors }}
}
</script><script src="https://cdn.beae.com/vendors/js-v2/shopify_option_selection.min.js"></script><!----><script type="text/javascript">window.BEAEARGS['beae-wzeubsdvsection-featured-product'] = {
"id": "beae-wzeubsdv",
"mode": {"value": "live"},
"reactiveJs":{"id":"8646285132066","name":"Boonie hat classic khaki","thumbnail":"https://cdn.shopify.com/s/files/1/0798/2271/7218/products/WindbreakerBoonieHatClassicKhaki1.jpg?v=1695718882","handle":"copy-of-jackson-backpack-botanical-1","value":"copy-of-jackson-backpack-botanical-1","image":"https://cdn.shopify.com/s/files/1/0798/2271/7218/products/WindbreakerBoonieHatClassicKhaki1.jpg?v=1695718882"}
};</script> 
<!-- <input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}" /> -->

<input type="hidden" name="sections" value="cart-drawer,cart-icon-bubble,cart-notification-product,cart-notification-button,cart-icon-bubble,variant-added">
<input type="hidden" name="section_url" value="{{product.handle}}">

{%- endform -%}

{% assign beae_has_variant_picker = false %}

<script type="text/javascript">
  var afterpay_product_selector = 'afterpay-placement.beae-afterpay-integrate';
  var afterpay_cart_integration_enabled  = window.afterpay_cart_integration_enabled ||  true;
  var afterpay_shop_currency = {{ shop.currency | json }};
  var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
  var afterpay_shop_money_format = {{ shop.money_format | json }};
  var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
  var afterpay_theme_name = {{ theme.name | json }};
  var afterpay_product = {% if beae_product_json%}{{beae_product_json}}{% else %}{{ product | json }}{% endif %};
  var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
  var afterpay_cart_total_price = {{ cart.total_price | json }};
  var afterpay_js_snippet_version = '1.0.10';
</script>

{%- endif -%}

{% assign product = tmp_product %}
</div></div><!----><!----><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-wzeubsdvsection-js'] = {
"id": "beae-wzeubsdv",
"mode": {"value": "live"},
"optionsVideo":false,"optionsVideoMobile":false
};</script>
<script type="text/javascript">eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('(()=>{6 7=a.R(\'S\');7.T=\'U\';7.5.V=\'B\';a.q.W(7);6 i=j(k.C(7).D(\'r-s\').X(\'t\',\'\'));7.5.Y=\'Z%\';6 E=k.C(7).D(\'r-s\')!==\'B\';a.q.10(7);6 u={\'11\':1.12,\'13\':1.14,\'F\':1,\'15\':0.16,\'17\':0.18,\'19\':0.1a,\'1b\':0.1c,\'1d\':0.1e,};a.q.5.f(\'--r-s-4\',u[i.b()]?((i*u[i.b()])/F).b():\'1\');6 l=()=>{a.v(\'.c-G.c-H\').w((3)=>{6 2=3.x(".m--2"),n=2?(2.8<2.d.8?2.8:2.d.8):0;g(!2||n===0){1f};6 9=j(3.y(\'z-e\')),A=j(3.y(\'z-A\')),1g=j(3.y(\'z-A-1h\')),o=a.1i.8,I=2.p(\'.c-J\')?2.p(\'.c-J\').x(\'.c-G.c-H\').8:o;g(!9||9>K){9=K};6 4=o>=L?((n/9)<1?(((n-9)*1)+9)/9:1):I/1j;g(4>1){4=1};g(o>=L){3.5.f("--M-4",4.b());3.v(\'.m--2\').w(2=>{2.d.5.f("--2-e",2.p(\'.N-2-e\')?2.p(\'.N-2-e\').d.8+\'t\':2.8+\'t\')});3.5.h("--O-4");g(E){3.5.f("--P-4",4.b())}}1k{3.5.f("--O-4",4.b());3.5.h("--M-4");3.v(\'.m--2\').w(2=>{2.d.5.h("--2-e")});3.x(\'.m--2\').d.5.h("--2-e");3.5.h("--P-4")}})};l();k.Q(\'1l\',l);k.Q(\'1m\',l)})();',62,85,'||container|sec|ratio|style|let|testText|offsetWidth|maxWidth|document|toString|beae|parentNode|width|setProperty|if|removeProperty|realFontSize|parseFloat|window|calcViewRatio|beae__section|conWidth|winWidth|closest|body|font|size|px|mappingSize|querySelectorAll|forEach|querySelector|getAttribute|data|margin|100px|getComputedStyle|getPropertyValue|detectDesktopRequestMode|100|section|core|mobileWinWidth|popup__content|1920|768|scale|grid|view|text|addEventListener|createElement|div|innerHTML|test|fontSize|appendChild|replace|zoom|50|removeChild|80||90|055|110|952|130|875|150|815|170|765|200|705|return|marginMobile|mobile|documentElement|428|else|resize|load'.split('|'),0,{}))</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script id="beae-exported-page-js" src="{{'beae-quickview-default.js'  | asset_url }}" defer></script>

{% schema %}
{
"name": "BEAE BUILDER APP",
"locales": {
"en": {
"be427520332_html": "Save { sale }",
"be1538363906_html": "Sold Out",
"be368228441_html": "Save { sale }%",
"be2569319_html": "Sale",
"be1203385433_html": "Pickup available at {{ location_name }}",
"be1121680012_html": "Pickup currently unavailable at {{ location_name }}",
"be1358949576_html": "View store info",
"be260978430_html": "Check availability at other stores",
"be1316440194_html": "{{ pickup_icon }} Pickup available, {{ pick_up_time }}",
"be1961221788_html": "{{ unavailable_icon }} Pickup currently unavailable at {{ location_name }}",
"be42255992_html": "Show more",
"be42216636_html": "Show less",
"be649020154_html": "Add to cart",
"be28375103_html": "Out of stock",
"be1182278043_html": "Added to cart",
"be1538394658_html": "Sold out",
"be1427617666_html": "Added to cart successfully",
"be719299147_html": "Choose options"
}
},
"settings": [
{
"type": "header",
"content": "The section was generated by BEAE BUILDER",
"info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
},
{
"type": "header",
"content": "[EDIT WITH BEAE APP \u2192](https:\/\/beaeduy.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/next\/editor\/quickview\/6729816f1b243cdf4a09c522)",
"info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
}
],
"blocks": [
{
"type": "@app"
}
]
}
{% endschema %}