{%- render 'css', css: 'section-footer.css', section_index: section.index -%}

{%- style -%}
  #shopify-section-{{ section.id }} > div {
    padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_top }});
    padding-block-end: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_bottom }});
    --section-footer-spacing-grid: {{ section.settings.spacing_grid }};
  }
  {%- if section.settings.show_border_top -%}
    #shopify-section-{{ section.id }} .container {
      border-block-start: 0.1rem solid rgba(var(--color-foreground), 0.1);
      padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_grid }});
    }
  {%- endif -%}
  {%- for block in section.blocks -%}
    .block-{{ block.id }} {
      --block-grid-column: {{ block.settings.column_factor }};
      --block-grid-row: {{ block.settings.row_factor }};
    }
  {%- endfor -%}
{%- endstyle -%}

{%- assign is_first_details = true -%}

<div class="footer color-{{ section.settings.color_scheme }} gradient">
  <div class="section-footer container {{ section.settings.section_width }}">

    <div class="grid">
      {%- for block in section.blocks -%}
        {% liquid
          assign block_class = 'align-self-' | append: block.settings.content_position_vertical
          if block.type == 'link_list' or block.type == 'spacer'
            assign block_class = 'align-self-start'
          endif

          assign block_content_alignment_class = ''
          if block.type == 'payment_icons' or block.type == 'newsletter' or block.type == 'brand' or block.type == 'richtext' or block.type == 'social_media'
            assign block_content_alignment_class = block_content_alignment_class | append: ' align-' | append: block.settings.content_alignment | append: ' text-' | append: block.settings.content_alignment | append: ' align-' | append: block.settings.content_alignment_for_mobile | append: '--mobile text-' | append: block.settings.content_alignment_for_mobile | append: '--mobile'
          endif
        %}
        <div class="section-footer__block col-span-{{ block.settings.column_factor }} block-{{ block.id }} {{ block_class }}" {{ block.shopify_attributes }}>

          {%- case block.type -%}
            {%- when 'spacer' -%}
              <div class="footer__spacer"></div>
            {%- when 'link_list' -%}
              {% style %}
                #shopify-section-{{ section.id }} .footer__links a {
                  color: rgba(var(--color-foreground), {{ block.settings.menu_link_opacity | divided_by: 100.0 }});
                }
              {% endstyle %}
              {%- assign menu_title = block.settings.title | default: block.settings.menu.title -%}
              {%- capture footer_menu_links -%}
                <ul class="footer__links list-unstyled">
                  {%- for link in block.settings.menu.links -%}
                    <li>
                      <a href="{{- link.url -}}" title="{{- link.title -}}">
                        {{- link.title -}}
                      </a>
                    </li>
                    {%- for child_link in link.links -%}
                      <li>
                        <a href="{{- child_link.url -}}" title="{{- child_link.title | escape -}}">
                          {{- child_link.title | escape -}}
                        </a>
                      </li>
                      {%- for grandchild_link in child_link.links -%}
                        <li>
                          <a href="{{- grandchild_link.url -}}" title="{{- grandchild_link.title | escape -}}">
                            {{- grandchild_link.title | escape -}}
                          </a>
                        </li>
                      {%- endfor -%}
                    {%- endfor -%}
                  {%- endfor -%}
                </ul>
              {%- endcapture -%}
              <div class="section-footer__content footer__nav--{{ block.settings.menu_layout }}">
                <div class="footer__nav-desktop small-hide">
                  <h4 class="footer__block-heading">
                    {%- if block.settings.title_url != blank -%}
                      <a href="{{- block.settings.title_url -}}" title="{{- menu_title | escape -}}">
                        {{- menu_title | escape -}}
                      </a>
                    {%- else -%}
                      {{- menu_title | escape -}}
                    {%- endif -%}
                  </h4>
                  {{ footer_menu_links }}
                </div>
                <accordion-default class="accordion footer__accordion small-up-hide">
                  <nav class="footer__nav-mobile">
                    {%- liquid
                      assign details_class = 'accordion__section footer__links-details footer__links-mobile-item'
                      assign details_attr = blank
                      if is_first_details and block.settings.show_first_menu_on_mobile
                        assign details_class = details_class | append: ' is-active default-active'
                        assign details_attr = 'open'
                        assign is_first_details = false
                      endif
                    -%}
                    <details class="{{- details_class -}}" id="Footer-accordion-section-{{- forloop.index -}}" {{ details_attr }}>
                      <summary class="footer__links-mobile-link heading-static js-btn" id="Accordion-button-{{- forloop.index -}}">
                        {{- menu_title | escape -}}
                        <div class="footer__links-mobile-link-icon">
                          {%- render 'icon', icon_name: 'theme-plus' -%}
                          {%- render 'icon', icon_name: 'theme-minus' -%}
                        </div>
                      </summary>

                      <div class="footer__links-mobile-item-dropdown accordion__body" id="Accordion-dropdown-{{- forloop.index -}}">
                        {{ footer_menu_links }}
                      </div>
                    </details>
                  </nav>
                </accordion-default>
              </div>

            {%- when 'follow_on_shop' -%}
              {%- if shop.features.follow_on_shop? -%}
                <div class="section-footer__content footer__follow-on-shop {{ block_content_alignment_class }}">
                  {% # theme-check-disable %}
                  {{ shop | login_button: action: 'follow' }}
                  {% # theme-check-enable %}
                </div>
              {%- endif -%}

            {%- when 'social_media' -%}
              <div class="section-footer__content {{ block_content_alignment_class }}">
                {%- if block.settings.heading -%}
                  <h3 class="footer__block-heading">{{- block.settings.heading -}}</h3>
                {%- endif -%}
                <ul class="footer__social list-unstyled">
                  {% render 'social-media', item_tag: 'li', in_new_tab: block.settings.social_links_in_new_tab, item_icon: block.settings.icons %}
                </ul>
              </div>

            {%- when 'localization' -%}
              <div class="section-footer__content footer__localization {{ block_content_alignment_class }}">
                {%- if block.settings.enable_country_selector -%}
                  <menu-drawer>
                    {%- liquid
                      assign button_prepend_text = 'theme.localization.change_country' | t
                      assign append_id = 'footer-' | append: block.id
                      render 'country-drawer', button_class: ' link', button_prepend_text: button_prepend_text, append_id: append_id
                    -%}
                  </menu-drawer>
                {%- endif -%}
              </div>
            {%- when 'newsletter' -%}
              <div class="section-footer__content {{ block_content_alignment_class }}">
                <div class="footer__newsletter">
                  {%- if block.settings.heading -%}
                    <h3 class="footer__block-heading">{{- block.settings.heading -}}</h3>
                  {%- endif -%}
                  {%- if block.settings.text -%}
                    <div class="footer__newsletter-text rte">{{- block.settings.text -}}</div>
                  {%- endif -%}
                  {%- render 'newsletter-form', namespace: block.id, js_class: 'js-form' -%}
                </div>
              </div>
            {%- when 'brand' -%}
              {%- style -%}
                #shopify-section-{{ section.id }} .footer__brand-logo {
                  width: {{ block.settings.logo_width_mobile | divided_by: 10.0 }}rem;
                  height: auto;
                }
                @media screen and (min-width: 750px) {
                  #shopify-section-{{ section.id }} .footer__brand-logo {
                    width: {{ block.settings.logo_width | divided_by: 10.0 }}rem;
                    max-width: 100%;
                  }
                }
              {%- endstyle -%}
              <div class="section-footer__content footer__brand {{ block_content_alignment_class }}">
                <a href="{{- routes.root_url -}}" title="{{- shop.name | escape -}}">
                  {%- liquid
                    if block.settings.logo_svg_code != blank
                      echo block.settings.logo_svg_code
                    elsif block.settings.logo != blank
                      assign logo_alt = block.settings.logo.alt | default: shop.name | escape
                      render 'image', image: block.settings.logo, section_index: section.index, alt: logo_alt, width: block.settings.logo_width_new, class: 'footer__brand-logo', animation: 'false'
                    else
                      echo shop.name | escape
                    endif
                  -%}
                </a>
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
              </div>

            {%- when 'richtext' %}
              {% liquid
                assign current_year = 'now' | date: '%Y'
                if block.settings.text contains '©'
                  assign class_copyright = 'footer__richtext--copyright'
                else
                  assign class_copyright = ''
                endif
              %}
              <div class="section-footer__content footer__richtext {{ class_copyright }} text-{{ block.settings.content_alignment }} text-{{ block.settings.content_alignment_for_mobile }}--mobile">
                {%- if block.settings.heading -%}
                  <h3 class="footer__block-heading">{{- block.settings.heading -}}</h3>
                {%- endif -%}
                {{ block.settings.text | replace: '[year]', current_year }}
              </div>

            {%- when 'payment_icons' -%}
              {% liquid
                assign default_payment_types = shop.enabled_payment_types
                assign custom_payment_types = block.settings.custom_payment_types
                assign payment_type_list = blank

                for type in default_payment_types
                  assign payment_type_list = payment_type_list | append: type | append: ','
                endfor

                assign payment_type_list = payment_type_list | append: custom_payment_types
                assign payment_type_list = payment_type_list | split: ',' | uniq | sort | join: ','

                assign payment_type_list = payment_type_list | split: ','
              %}

              <div class="section-footer__content footer__payment {{ block_content_alignment_class }}" {% unless block.settings.payment_icons_color %}style="filter: grayscale(100%);"{% endunless %}>
                <span class="visually-hidden">{{- 'sections.footer.payment' | t -}}</span>
                <ul class="list list-payment" role="list">
                  {%- for type in payment_type_list -%}
                    <li class="list-payment__item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' | replace: 'id="', 'id="footer-' | replace: 'aria-labelledby="', 'aria-labelledby="footer-' }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
          {%- endcase -%}

        </div>
      {%- endfor -%}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "spacing_grid",
      "label": "t:sections.footer.settings.spacing_grid.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:sections.global.header.settings.content",
      "info": "t:sections.global.header.settings.info"
    },
    {
      "type": "checkbox",
      "id": "show_border_top",
      "label": "t:sections.global.settings.show_border_top.label",
      "default": true
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "max-w-page",
          "label": "t:sections.global.settings.section_width.options__1.label"
        },
        {
          "value": "max-w-fluid",
          "label": "t:sections.global.settings.section_width.options__2.label"
        }
      ],
      "default": "max-w-page",
      "label": "t:sections.global.settings.section_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-2",
      "label": "t:sections.global.color_scheme.label"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "t:sections.global.settings.spacing.settings.spacing_top.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "t:sections.global.settings.spacing.settings.spacing_bottom.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "t:sections.footer.blocks.brand.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.footer.blocks.brand.settings.logo.label"
        },
        {
          "type": "html",
          "id": "logo_svg_code",
          "label": "t:sections.footer.blocks.brand.settings.logo_svg_code.label",
          "info": "t:sections.footer.blocks.brand.settings.logo_svg_code.info"
        },
        {
          "type": "number",
          "id": "logo_width",
          "label": "t:sections.footer.blocks.brand.settings.logo_width.label",
          "info": "t:sections.footer.blocks.brand.settings.logo_width.info",
          "default": 240
        },
        {
          "type": "number",
          "id": "logo_width_mobile",
          "label": "t:sections.footer.blocks.brand.settings.logo_width_mobile.label",
          "info": "t:sections.footer.blocks.brand.settings.logo_width_mobile.info",
          "default": 150
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.global.element.text.label",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>"
        },
        {
          "type": "select",
          "id": "content_position_vertical",
          "label": "t:sections.global.content.position.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.position.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.position.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.position.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.global.content.alignment.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment_for_mobile",
          "label": "t:sections.global.content.alignment.for__mobile.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "limit": 6,
      "settings": [
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "select",
          "id": "menu_layout",
          "label": "t:sections.footer.blocks.link_list.settings.menu_layout.label",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.global.settings.section_direction.options__1.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.global.settings.section_direction.options__2.label"
            }
          ],
          "default": "vertical"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "default": "footer"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.global.element.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.title.info"
        },
        {
          "type": "url",
          "id": "title_url",
          "label": "t:sections.footer.blocks.link_list.settings.title_url.label"
        },
        {
          "type": "range",
          "id": "menu_link_opacity",
          "label": "t:sections.footer.blocks.link_list.settings.menu_link_opacity.label",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "default": 100
        },
        {
          "type": "checkbox",
          "id": "show_first_menu_on_mobile",
          "label": "t:sections.footer.blocks.link_list.settings.show_first_menu_on_mobile.label",
          "default": true
        }
      ]
    },
    {
      "type": "follow_on_shop",
      "name": "t:sections.footer.blocks.follow_on_shop.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.follow_on_shop.settings.paragraph.content"
        },
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "select",
          "id": "content_position_vertical",
          "label": "t:sections.global.content.position.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.position.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.position.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.position.options.end.label"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.global.content.alignment.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "end"
        },
        {
          "type": "select",
          "id": "content_alignment_for_mobile",
          "label": "t:sections.global.content.alignment.for__mobile.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "t:sections.footer.blocks.social_media.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "checkbox",
          "id": "icons",
          "label": "t:sections.footer.blocks.social_media.settings.icons.label",
          "info": "t:sections.footer.blocks.social_media.settings.icons.info"
        },
        {
          "type": "checkbox",
          "id": "social_links_in_new_tab",
          "label": "t:sections.footer.settings.social_links_in_new_tab.label",
          "default": true
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.element.heading.label"
        },
        {
          "type": "select",
          "id": "content_position_vertical",
          "label": "t:sections.global.content.position.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.position.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.position.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.position.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.global.content.alignment.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment_for_mobile",
          "label": "t:sections.global.content.alignment.for__mobile.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter.name",
      "settings": [
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.element.heading.label",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.global.element.text.label"
        },
        {
          "type": "select",
          "id": "content_position_vertical",
          "label": "t:sections.global.content.position.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.position.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.position.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.position.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.global.content.alignment.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment_for_mobile",
          "label": "t:sections.global.content.alignment.for__mobile.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        }
      ]
    },
    {
      "type": "localization",
      "name": "t:sections.footer.blocks.localization.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "checkbox",
          "id": "enable_country_selector",
          "default": true,
          "label": "t:sections.footer.blocks.localization.settings.enable_country_selector.label",
          "info": "t:sections.footer.blocks.localization.settings.enable_country_selector.info"
        },
        {
          "type": "checkbox",
          "id": "enable_language_selector",
          "default": true,
          "label": "t:sections.footer.blocks.localization.settings.enable_language_selector.label",
          "info": "t:sections.footer.blocks.localization.settings.enable_language_selector.info"
        },
        {
          "type": "select",
          "id": "content_position_vertical",
          "label": "t:sections.global.content.position.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.position.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.position.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.position.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.global.content.alignment.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment_for_mobile",
          "label": "t:sections.global.content.alignment.for__mobile.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "t:sections.footer.blocks.richtext.name",
      "limit": 2,
      "settings": [
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.element.heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.global.content.label",
          "info": "t:sections.footer.blocks.richtext.settings.text.info",
          "default": "<p>Copyright ©[year] DigiFist. All rights reserved. Powered by Shopify.</p>"
        },
        {
          "type": "select",
          "id": "content_position_vertical",
          "label": "t:sections.global.content.position.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.position.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.position.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.position.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.global.content.alignment.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment_for_mobile",
          "label": "t:sections.global.content.alignment.for__mobile.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        }
      ]
    },
    {
      "type": "payment_icons",
      "name": "t:sections.footer.blocks.payment_icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.payment_icons.settings.header.content",
          "info": "t:sections.footer.blocks.payment_icons.settings.header.info"
        },
        {
          "type": "text",
          "id": "custom_payment_types",
          "label": "t:sections.footer.blocks.payment_icons.settings.custom_payment_types.label",
          "info": "t:sections.footer.blocks.payment_icons.settings.custom_payment_types.info"
        },
        {
          "type": "checkbox",
          "id": "payment_icons_color",
          "label": "t:sections.footer.settings.payment_icons_color.label",
          "default": false
        },
        {
          "type": "select",
          "id": "content_position_vertical",
          "label": "t:sections.global.content.position.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.position.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.position.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.position.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.global.content.alignment.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "content_alignment_for_mobile",
          "label": "t:sections.global.content.alignment.for__mobile.label",
          "options": [
            {
              "value": "start",
              "label": "t:sections.global.content.alignment.options.start.label"
            },
            {
              "value": "center",
              "label": "t:sections.global.content.alignment.options.center.label"
            },
            {
              "value": "end",
              "label": "t:sections.global.content.alignment.options.end.label"
            }
          ],
          "default": "start"
        }
      ]
    },
    {
      "type": "spacer",
      "name": "t:sections.footer.blocks.spacer.name",
      "settings": [
        {
          "type": "select",
          "id": "show_on",
          "label": "t:sections.global.blocks.show_on.label",
          "options": [
            {
              "value": "desktop",
              "label": "t:sections.global.blocks.show_on.options.desktop.label"
            },
            {
              "value": "mobile",
              "label": "t:sections.global.blocks.show_on.options.mobile.label"
            },
            {
              "value": "both",
              "label": "t:sections.global.blocks.show_on.options.both.label"
            }
          ],
          "default": "desktop"
        },
        {
          "type": "range",
          "id": "column_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.column_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_factor",
          "label": "t:sections.global.settings.grid.blocks.settings.row_factor.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.footer.presets.default.name"
    }
  ]
}
{% endschema %}
