{%- if section.settings.title != blank -%}
  {%- render 'css', css: 'main-password.css', section_index: section.index -%}

  {%- style -%}
    #shopify-section-{{ section.id }} > div {
      height: calc(100vh - var(--header-height));
      padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_top }});
      padding-block-end: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_bottom }});
    }
  {%- endstyle -%}

  <div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="main-password center">
      <div class="main-password__wrapper">
        <div class="container {{ section.settings.section_width }}">
          <header class="main-password__head">
            <h1 class="main-password__title h1">
              {{- section.settings.title -}}
            </h1>
            {%- if section.settings.text != blank
              or shop.password_message != blank
            -%}
              <div class='main-password__entry font-size-md'>
                {%- if section.settings.text != blank -%}
                  {{- section.settings.text -}}
                {%- endif -%}

                {%- if shop.password_message != blank -%}
                  {{- shop.password_message | escape -}}
                {%- endif -%}
              </div>
            {%- endif -%}
          </header>

          {%- if section.settings.email_signup -%}
            <div class="main-password__email-signup">
              {%- if section.settings.email_signup_title != blank -%}
                <h2 class="main-password__title h3">
                  {{- section.settings.email_signup_title | escape -}}
                </h2>
              {%- endif -%}
              {%- if section.settings.email_signup_text != blank -%}
                {{- section.settings.email_signup_text -}}
              {%- endif -%}
              {%- assign submit_button_text = 'theme.newsletter.button_label' | t -%}
              {%- render 'newsletter-form', namespace: section.id, js_class: 'js-form', submit_button_text: submit_button_text -%}
            </div>
          {%- endif -%}

          {% capture shopify %}
            <a href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
              {%- render 'logo-shopify' -%}
            </a>
          {% endcapture %}
          <div class="main-password__callout">
            {{- 'password.admin_link_html' | t -}}
          </div>
          <div class="main-password__foot">
            {{- 'password.powered_by_shopify_html' | t: shopify: shopify -}}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password.name",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.global.element.heading.label",
      "default": "Opening soon"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.global.element.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.header.email_signup.content"
    },
    {
      "type": "checkbox",
      "id": "email_signup",
      "label": "t:sections.main-password.settings.email_signup.label",
      "default": true
    },
    {
      "type": "text",
      "id": "email_signup_title",
      "label": "t:sections.main-password.settings.email_signup_title.label"
    },
    {
      "type": "richtext",
      "id": "email_signup_text",
      "label": "t:sections.main-password.settings.email_signup_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.header.settings.content",
      "info": "t:sections.global.header.settings.info"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "max-w-page",
          "label": "t:sections.global.settings.section_width.options__1.label"
        },
        {
          "value": "max-w-narrower",
          "label": "t:sections.global.settings.section_width.options__5.label"
        },
        {
          "value": "max-w-fluid",
          "label": "t:sections.global.settings.section_width.options__2.label"
        }
      ],
      "default": "max-w-narrower",
      "label": "t:sections.global.settings.section_width.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.global.color_scheme.label"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "t:sections.global.settings.spacing.settings.spacing_top.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "t:sections.global.settings.spacing.settings.spacing_bottom.label",
      "options": [
        {
          "value": "0",
          "label": "No"
        },
        {
          "value": "1",
          "label": "S"
        },
        {
          "value": "2",
          "label": "M"
        },
        {
          "value": "4",
          "label": "L"
        },
        {
          "value": "6",
          "label": "XL"
        }
      ],
      "default": "2"
    }
  ]
}
{% endschema %}
