{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_heading_font.system? and settings.type_body_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}
    <title>{{- 'gift_card.heading' | t: value: formatted_initial_value, shop: shop.name -}}</title>
    <meta name="description" content="{{- 'gift_card.how_to_use_gift_card' | t -}}">

    {{ content_for_header }}

    {%- render 'settings' -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'gift-card.css' | asset_url | stylesheet_tag }}

    {% comment %}theme-check-disable AssetPreload{% endcomment %}
    {%- unless settings.type_heading_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_heading_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      {%- endunless -%}
    {% comment %}theme-check-enable AssetPreload{% endcomment %}
  </head>

  <body class="template template--giftcard center is-at-top">
    {%- section 'gift-card' -%}
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_card.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
    new QRCode(document.querySelector('.gift-card__qr-code'), {
      text: document.querySelector('.gift-card__qr-code').dataset.identifier,
      width: 120,
      height: 120,
      imageAltText: string.qrImageAlt
    });
  });
  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);
</script>
